[Unit]
Description=Automatic build machine for Debian source package
ConditionPathExists=/etc/debomatic/debomatic.conf

[Service]
Type=simple
ExecStart=/usr/bin/debomatic -c /etc/debomatic/debomatic.conf -n
ExecStop=/usr/bin/debomatic -c /etc/debomatic/debomatic.conf -q
KillMode=process
SendSIGKILL=no
TimeoutStopSec=0
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
