# deb-o-matic configuration file
# Default section
[default]

# Set this to the directory where you will upload your source packages
packagedir: /incoming

# Set this to the distribution you want to build your packages for.
# It should be any of the ones managed by debootstrap package
distribution: feisty

# Set this to the URL of package repository
url: http://archive.ubuntu.com/ubuntu

# Set this to the file wich will log debomatic messages
logfile: /var/log/debomatic

# Set this to the number of seconds between two build processes
sleep: 300
