[Unit]
Description=Automatic build machine for Debian source package
Documentation=https://deb-o-matic.readthedocs.io/
ConditionPathExists=/etc/debomatic/debomatic.conf

[Service]
Type=notify
ExecStart=/usr/sbin/debomatic -c /etc/debomatic/debomatic.conf -i
ExecStop=/usr/sbin/debomatic -c /etc/debomatic/debomatic.conf -q
KillMode=process
SendSIGKILL=no
TimeoutStopSec=0
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
